.header {font-size: 48px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 
    sans-serif; font-style: oblique; text-align: center; 
}

ul li {font-size: 36px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; font-kerning: unset;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color
  }
  
  a:hover {
    text-decoration: none;
    color: #2ecc71
  }
  
  a:active {
    text-decoration: none;
  }